<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <img src="../assets/pressao.jpg"/>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Data de Criação: 28/06/2020</ion-card-subtitle>
        <ion-card-title>Lercio Teotonio Gontijo</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Este aplicativo tem como objetivo armazenar informações referentes a pressão do usuário.
      </ion-card-content>
    </ion-card>
 
</ion-content>